# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/
.venv/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Logs and temporary files
*.log
*.tmp
*.bak
*.old

# Test coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# FastAPI-specific files
instance/
*.db
*.sqlite3

# Static and media files
static/
media/

# Environment variables
.env
.env.*

venv